@model  CourseManager.Core.Models.CourseManagerView

@{
    ViewBag.Title = "Course Manager";
    string[] days = { "Mon", "Tue", "Wed", "Thu", "Fri" };
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="col-md-5"><h2>Schedule of courses</h2></div><div class="col-md-1"><span id="prevWeek" class=" btn  btn-default glyphicon  glyphicon-arrow-left"></span></div><div class="col-md-5">
            <h5>@Model.WeekTitle</h5>
    </div><div class="col-md-1">
            <span id="nextWeek" class=" btn  btn-default glyphicon glyphicon-arrow-right"></span>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered" week="@Model.Week" year="@Model.Year">
                <thead>
                    <tr>
                        <th class="tcol col-md-2"><div><span></span></div></th>
                        @for (var j = 0; j < 5; j++)
                    {
                        <th class="tcol col-md-2"><div><span class="hview" daynum="@(j+1)">@days[j]</span></div></th>
                }
                    </tr>
                </thead>
                @for (var i = 0; i < 9; i++)
            {
                <tr>
                    <td class="lcol col-md-2"><div><span>@($"{i + 9:0#}:00")</span></div></td>
                    @for (var j = 0; j < 5; j++)
                {
                    <td class="col-md-2"><div><span class="hview" daynum="@(j+1)"></span></div></td>
            }
                </tr>
        }
                <tfoot></tfoot>
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Courses</h2>
        <table id="corseTable" class="table">
            <tbody></tbody>
            @{
            int n = 0;
            foreach (var course in Model.Courses)
            {
                <tr cid="@course.Id">
                    <td class="col-md-1"><span>@($"{++n}. ")</span><input type="radio" name="optradio"></td>
                    <td class="col-md-4">
                        <div>
                            <p>@course.Name</p>
                        </div>
                    </td>
                    <td class="col-md-1">
                        <div class="input-group colorpicker-component mycp">
                            <span class="input-group-addon"><i style="background-color: @course.Color;"></i></span>
                        </div>
                    </td>
                    <td class="col-md-1">
                        <span class="btn btn-success glyphicon glyphicon-edit"></span>
                    </td>
                    <td class="col-md-1">
                        <span class="btn btn-danger glyphicon glyphicon-trash"></span>
                    </td>
                </tr>
        }}
        </table>
    </div>
    </div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<script type="text/javascript">
    $(function () {
        $('.mycp').colorpicker();
    });
</script>